html, body, .container{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#myCanvas{
    border: 2px solid black;
}

#myCanvas:hover{
    cursor: none;
}

.container{
    display: flex;
    justify-content: center;
}